html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  /* text-shadow: 2px, 2px, 2px Red; */
  background-color: #F2F2F2;
  color: #1A1A1A;
  font-size: 28px;
  padding: 20px;

}

ul {
  list-style-position: inside;
  flex-grow: 0;
  text-align: center;
  text-indent: 0;
  /* background-color: red; */
}


.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page-footer, .page-header {
  flex-grow: 0;
  flex-shrink: 0;
  /* background-color: Red; */
}
.page-footer {
  text-align: center;
}
.navbar {
  text-align: left;
  font-size: 24px;
}
.page-header {
  text-align: left;
  font-size: 48px;
}
.page-footer::after {
  content: 'Copyright © 2024 By Isaac Gaber. All rights reserved';
}
.page-body {
  flex-grow: 1;
}
.blog {
  flex-grow: 1;
  padding: 50px;
  text-shadow: 10;
}
