html {
  background-color: #F2F2F2;
  color: #1A1A1A;
  font-size: 36px;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
}
footer::after {
  content: 'Copyright © 2024 By Isaac Gaber. All rights reserved';
}
.blog {
  padding-left: 200px;
  padding-right: 200px;
  text-shadow: 10;
}
li {
  margin-left: 20px;
}
