html, body {
  box-sizing: border-box;
  height: 100%;
  /* padding: 0px, 50px, 0px, 500px; */
  margin: 0;
  /* text-shadow: 2px, 2px, 2px Red; */
  background-color: #F2F2F2;
  color: #1A1A1A;
  font-size: 24pt;
  font-family: "Garamond", serif;
  /* padding: 0px, 200pt, 0pt, 20pt; */
}

ul {
  list-style-position: inside;
  flex-grow: 0;
  text-align: left;
  text-indent: 0;
  /* background-color: red; */
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app {
  align-self: center;
}
.page-footer, .page-header {
  flex-grow: 0;
  flex-shrink: 0;
  /* background-color: Red; */
}
.page-footer {
  text-align: center;
}
.navbar {
  text-align: left;
  font-size: 32pt;
}
.page-header {
  text-align: left;
  font-size: 64pt;
}
.page-footer::after {
  content: '2024 By Isaac Gaber.';
}
.page-body {
  flex-grow: 1;
  padding-left: 50pt;
  padding-right: 50pt;
    /* padding: 20px; */
}
.blog {
  flex-grow: 1;
  padding: 50px;
}
.project{
  flex-grow: 1;
  width: 100%;
  /* margin-right: 1000pt; */
	/* padding-left: 40pt;
  padding-right: 40pt; */
  display: table;
  border-top: 2px solid gray;
}
  .project .name {
    font-size: 48pt;
    }
  .project .project-inner{
    display: table-row;
  }
  .project .right {
    height: 100%;
    text-align: right;
    display: table-cell;
  }
  .project .right img {
    width: 180pt;
    position: relative;
    /* height: auto; */
    /* align-items: right; */
    /* margin-bottom: 10px; */
  }
  .project .left {
    padding-right: 100pt;
    display: table-cell;
    text-align: left;
  }
